<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/common.css">
    <title>DER9.8</title>
</head>
<body>
    <header>
        {% include "navigation.html" %}
    </header>
    
    <section class="banner">
        <img src="{{ url_for('static', filename='media/home-background1.be4101d80aeab219962f.jpg') }}" alt="Renewable Energy Banner">
        <div class="banner-text">
            <h1>Welcome to DER8.9</h1>
            <p>Part of JakaaGen Inc</p>
        </div>
    </section>    
    
    <section class="about-section">
        <p>DER8.9 is a leading utility company specializing in Distributed Energy Resources (DER). We are dedicated to revolutionizing the energy landscape by harnessing the power of renewable energy and advanced technology.</p>
    </section>
    
</body>
</html>
